NodeRedFlow.json
[{"id":"b7253937.459208","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ad2cc525.bdf318","type":"ui_form","z":"b7253937.459208","name":"","label":"","group":"471b6212.fab71c","order":0,"width":0,"height":0,"options":[{"label":"Status(developing:0,developed:1)","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"GDP","value":"n","type":"number","required":true,"rows":null},{"label":"Population","value":"o","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"q","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"r","type":"number","required":true,"rows":null},{"label":"Schooling","value":"s","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":35,"y":320,"wires":[["69ce9a7.5e45e64"]],"l":false},{"id":"69ce9a7.5e45e64","type":"function","z":"b7253937.459208","name":"pre-token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\n\nvar apikey=\"rxDQ00TQGVgqslBaz1sBG0-0Bo2Hulh4C3YSCb79KEk9\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":155,"y":320,"wires":[["83428c52.62a78"]],"l":false},{"id":"83428c52.62a78","type":"http request","z":"b7253937.459208","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":315,"y":320,"wires":[["e6273cc8.0c10b"]],"l":false},{"id":"e6273cc8.0c10b","type":"function","z":"b7253937.459208","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"4cc19d10-b8b5-4381-b60e-702137e18431\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \",  \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness 10-19 years\",  \" thinness 5-9 years\",  \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s]]};\n       \nreturn msg;","outputs":1,"noerr":0,"x":455,"y":320,"wires":[["a831773a.3cc018"]],"l":false},{"id":"76364c27.316624","type":"function","z":"b7253937.459208","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":320,"wires":[["42f559a6.85cd48"]],"l":false},{"id":"42f559a6.85cd48","type":"ui_text","z":"b7253937.459208","group":"471b6212.fab71c","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1015,"y":320,"wires":[],"l":false},{"id":"a831773a.3cc018","type":"http request","z":"b7253937.459208","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/4cc19d10-b8b5-4381-b60e-702137e18431/deployments/e4ce9e47-ba0b-48ff-b95a-f71c7a81b436/online","tls":"","persist":false,"proxy":"","authType":"","x":635,"y":320,"wires":[["76364c27.316624"]],"l":false},{"id":"471b6212.fab71c","type":"ui_group","z":"","name":"Default","tab":"78823711.ffa638","order":1,"disp":true,"width":"6","collapse":false},{"id":"78823711.ffa638","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]